<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie List</title>
    {{!-- 載入css --}}
    <link rel="stylesheet" href="/stylesheet/bootstrap.css">
  </head>
  <body>
     <!-- navigation -->
     <nav class="navbar navbar-dark bg-dark">
       <div class="container-fluid">
         <a class="navbar-brand" href="#">Movie List</a>
       </div>
     </nav>
     <!-- partial templates will replace the part of "body" here -->
     {{{ body }}}


{{!-- javascript --}}
<script src="/javascrpit/popper.js"></script>
<script src="/javascrpit/bootstrap.bundle.js"></script>

  </body>
</html>